APP_NAME=ShuttleAdmin
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://admin.example.com

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=shuttle_admin
DB_USERNAME=root
DB_PASSWORD=

REMOTE_API_BASE=https://api.ambatu.my.id/api
REMOTE_API_TOKEN=

SESSION_DOMAIN=
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
